<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/headContent') %>
  <title><%= title %></title>
</head>
<body>
  <%- include('../partials/header') %>
  <main>
    <h1><%= title %></h1>
    <h2><%= category.name %></h2>
    <p><%= category.description %></p>
    <h2>Available <%= category.name %></h2>
    <% for (let item of items) { %>
      <p><a href=<%= item.url %>><%= item.name %></a></p>
      <p>$<%= item.price / 100 %></p>
      <p><%= item.quantity %> in stock</p>
    <% } %>
  </main>
  <%- include('../partials/footer') %>
</body>
</html>